@font-face {
    font-family: "Inter";
    src: url('Inter_VariableFont.ttf');
}

body {
	/* padding: 0;
	margin: 0; */
    font-family: "Inter", "sans serif"; 
}

a {
    text-decoration: none;
    color: black;
    
}

a:hover {
    color:aquamarine;
}

/* header {
    display: flex;

    background-color: #0f2e57;
    color: white;
} */

header > h1{
    /* text-align: center; */
    /* text-transform: uppercase; */
    font-weight: bold;
}


/* header > h3 {
    text-align: center;
} */

/* h2 {
    padding-left: .25em;
} */

div.main_link {
    height: 2em;
    display: flex;
    align-items: center;
}

img.icon {
    height: 1.5em;
    width: 1.5em;
    padding-right: .5em;
    padding-left: .5em;
}

footer {
    text-align: center;
}

ul.skill_list {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    /* border: 1px dashed red; */

}

ul.skill_list > li {
    list-style-type: none;
    padding: .275em;
    margin: .275em;
    border-radius: .25em;
    /* background-color: #DADEE1; */
    background-color: #ECF0F6;
    /* border: 1px dashed red; */
    border: 1px solid #ECF0F6;
}

@media screen and (min-width:800px) {
    header, section#body, footer {
        width: 60%;
        margin: auto;
        /* border-right: 1px dashed red;
        border-left: 1px dashed red; */
    }


}